body{
    background:#d8ded3;
    font-family:Arial, sans-serif;
}

.imageContainer{
    width:1000px;
    margin:20px auto;
}

.imageContainer img{
    width:100%;
    display:block;
}

table{
    width:1000px;
    margin:20px auto;
    border-collapse:collapse;
}

td{
    border:1px solid gray;
    padding:10px;
    vertical-align:top;
}

td img{
    width:100%;
    display:block;
}

h2,h3{
    text-align:center;
}

p{
    text-align:center;
}